<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<h2> Thanks to the below awesome tutorials that made this website possible </h2>
<div class="list-group">
  <%= link_to "Rails tutorials by Michael Hartl", "http://railstutorials.org", class: "list-group-item" %>
  <%= link_to "Official Rails guide", "http://guides.rubyonrails.org/", class: "list-group-item" %>
  <%= link_to "Rails girls guide", "http://guides.railsgirls.com/app/", class: "list-group-item" %>
</div>
