<html>
<head>
</head>
<body>
<h1> Serve html as doc </h1>
<p> I know if you serve a HTML document as a word document with the .doc extension, it will open in Word just fine. Just don't do anything fancy. </p>
<ul>
<li>ha</li>
<li>ha</li>
<li>haa</li>
</ul>
</body>
</html>
