<% provide(:title, 'Profile') %>
<div class="row">
    <aside class="span4">
        <section>
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
    </aside>
    <div class="span8">
      <% if @user.questions.any? %>
        <h3>Questions (<%= @user.questions.count %>)</h3>
        <ul class="questions">
          <%= render @user.questions, skip_user: true  %>
        </ul>
        <!--  will_paginate @user.questions -->
      <% end %>
    </div>
</div>
